Repository Sliingshot98/mod4project, pull requests merged in 2025-02, with the labels that each got.

#44 debugging
  backend/app.js
  backend/db/models/spot.js
  backend/db/models/user.js
  backend/routes/api/index.js
  backend/routes/api/spots.js
  backend/routes/index.js
  backend/utils/validation.js
Labels: bug

#45 Sg/create spot
  backend/.env.example
  backend/app.js
  backend/bin/www
  backend/db/migrations/02-spot.js
  backend/package-lock.json
  backend/routes/api/index.js
  backend/routes/api/session.js
Labels: bug, enhancement

#47 ALL FILES WORk
  backend/app.js
  backend/db/migrations/02-spot.js
  backend/db/migrations/20250205055231-create-user.js
  backend/db/models/spot.js
  backend/db/seeders/1user.js
  backend/db/seeders/spot.js
  backend/routes/api/index.js
  backend/routes/api/spots.js
  backend/routes/index.js
Labels: spots

#51 did spot image api
  backend/routes/api/spotImages.js
Labels: spots, images

#52 did review Image api and did small fix on spot Image api
  backend/routes/api/reviewImages.js
  backend/routes/api/spotImages.js
Labels: reviews, images

#53 Review API routes finished
  backend/routes/api/reviews.js
  package.json
Labels: reviews

#59 Anthony/test
  backend/.sequelizerc
  backend/config/database.js
  backend/config/index.js
  backend/db/migrations/01-user.js
  backend/db/models/index.js
  backend/db/models/user.js
  backend/db/seeders/01-user.js
  backend/db/seeders/02-spot.js
  backend/db/seeders/20250206080652-booking.js
  backend/psql-setup-script.js
  backend/routes/api/bookings.js
  backend/routes/api/index.js
  backend/routes/api/reviewimages.js
  backend/routes/api/reviews.js
  backend/routes/api/sessions.js
  backend/routes/api/spots.js
  backend/routes/api/users.js
  backend/utils/auth.js
  backend/utils/errors.js
  package-lock.json
  package.json
Labels: bug

#61 Reviews done and working
  backend/db/migrations/01-user.js
  backend/db/models/review.js
  backend/db/models/reviewimage.js
  backend/db/models/user.js
  backend/routes/api/index.js
  backend/routes/api/reviews.js
  backend/routes/api/spots.js
Labels: reviews

#66 NO BODY TOUCH THIS< IT WORKS
  backend/app.js
  backend/db/migrations/01-user.js
  backend/db/migrations/02-spot.js
  backend/db/models/review.js
  backend/db/models/spot.js
  backend/db/models/user.js
  backend/db/seeders/01-user.js
  backend/db/seeders/02-spot.js
  backend/db/seeders/20250206064053-review.js
  backend/db/seeders/20250206064111-spotImage.js
  backend/db/seeders/20250206072417-reviewImage.js
  backend/db/seeders/20250206080652-booking.js
  backend/routes/api/bookings.js
  backend/routes/api/reviews.js
  backend/routes/api/session.js
  backend/routes/api/sessions.js
  backend/routes/api/spotimages.js
  backend/routes/api/spots.js
  backend/routes/index.js
  backend/utils/validation.js
Labels: deployment
